@duration: 0.8s;

.list{
    background: #FFF; 
  font-size: 20px;
  max-width: 15em;
  margin: auto;
  padding: 20px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}

.todo {
    display: block;
    position: relative;
    padding: 1em 1em 1em 16%;
    margin: 0 auto;
    cursor: pointer; 
    border-bottom: solid 1px #ddd;
  }

  .Checkbox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
