.container-button{
    background-color: white;
    padding: 20px;
    border: 10px;
    box-shadow: rgb(66, 66, 66);
    max-width: 20em;
    margin: auto;
}

.container{
    background-color: lightgray;
    margin: 50px;
    padding: 20px;
    border: 10px;
    box-shadow: gray;
}